@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@keyframes colorChange {
  0% { color: rgb(255, 12, 255); }
  33% { color: rgb(33, 33, 246); }
  66% { color: rgb(0, 191, 255); }
  100% { color: rgb(255, 12, 255); }
}

.animate-color-change {
  animation: colorChange 0.45s infinite;
}

.html-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 6px;
  background-color: black;
  border: 2px solid white;
  border-radius: 8px;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.neon-box {
  animation: neon 2s infinite;
}

@keyframes neon {
  0% {
    box-shadow: 0 0 10px 10px red;
  }
  25% {
    box-shadow: 0 0 10px 10px blue;
  }
  50% {
    box-shadow: 0 0 10px 10px green;
  }
  75% {
    box-shadow: 0 0 10px 10px yellow;
  }
  100% {
    box-shadow: 0 0 10px 10px red;
  }
}

.shrink-animation {
  animation: shrink 1s forwards;
}

@keyframes shrink {
  0% {
    transform: scale(3);
  }
  100% {
    transform: scale(1);
  }
}
